<h1>Reset password form</h1>
<form
  action="{{
    signedRoute('auth.resetPassword', [userId], {
      expiresIn: 300000
    })
  }}"
  method="post"
>
  <input type="text" id="password" name="password">
  <input type="text" id="passwordConfirmation" name="passwordConfirmation">
  <button type="submit">Reset</button>
</form>