<p>{{ user.fullName }}, vous avez demandé la réinitialisation de votre mot de passe Social Media ({{ user.username }}). Clickez sur le lien suivant pour </p>
<a href="{{ url }}">définir un nouveau mot de passe</a>
<p>.</p>
<br>
<br>
<p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet e-mail.</p>