<p>{{ user.fullName }}, vous avez demandé la réinitialisation de votre mot de passe Social Media ({{ user.username }}). Clickez sur ce lien pour </p>
<a href="{{ url }}">définir un nouveau mot de passe</a>
<p>.</p>
<br>
<br>
<p>Si vous n'êtes pas à l'origine de cette demande, ne cliquez-pas sur le lien.</p>